[submodule "scintillua"]
	path = scintillua
	url = git@github.com:orbitalquark/scintillua.git
[submodule "ScintilluaPlusPlus"]
	path = ScintilluaPlusPlus
	url = git@github.com:dail8859/ScintilluaPlusPlus.git
[submodule "LuaScript"]
	path = LuaScript
	url = git@github.com:dail8859/LuaScript.git
[submodule "lua"]
	path = lua
	url = git@github.com:lua/lua.git
[submodule "notepad-plus-plus"]
	path = notepad-plus-plus
	url = git@github.com:notepad-plus-plus/notepad-plus-plus.git
[submodule "lpeg"]
	path = lpeg
	url = git@github.com:roberto-ieru/LPeg.git
[submodule "PyNPP"]
	path = PyNPP
	url = git@github.com:mpcabd/PyNPP.git
[submodule "PyPadPlusPlus"]
	path = PyPadPlusPlus
	url = git@github.com:bitagoras/PyPadPlusPlus.git
[submodule "NotepadSharp"]
	path = NotepadSharp
	url = git@github.com:MarcSaenz/NotepadSharp.git
[submodule "Npp-DarkNpp"]
	path = Npp-DarkNpp
	url = git@github.com:ozone10/Npp-DarkNpp.git
[submodule "NppPythonScripts"]
	path = NppPythonScripts
	url = git@github.com:Ekopalypse/NppPythonScripts.git
